@model IEnumerable<ConsultorioMedico.Models.Agenda>
@{
ViewBag.Title = "Agenda";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-6 col-md-offset-3">
        <h2>Agendas</h2>

        <button class="btn btn-block btn-primary btn-sm" onclick="location.href='@Url.Action("New", "Agenda" )'">
            <span class="glyphicons glyphicon-plus"></span> New
        </button>

        @if (@Model.Count() > 0)
        {
        <table id="agenda" class="table table-bordered table-hover">
            <thead>@*  *@
                <tr>
                    <th>Dia</th>
                    <th>Profissional</th>
                    <th>Vagas</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var agenda in Model)
                {
                <tr>
                    <td style="cursor: pointer" onclick="location.href='@Url.Action("Detalhes", "Agenda" , new { agenda.Id })'">
                        @agenda.DiaSemana
                    </td>
                    <td style="cursor: pointer" onclick="location.href='@Url.Action("Detalhes", "Agenda" , new { agenda.Id })'">
                        @agenda.Profissional.Nome
                    </td>
                    <td style="cursor: pointer" onclick="location.href='@Url.Action("Detalhes", "Agenda" , new { agenda.Id })'">
                        @agenda.Vagas.ToString()
                    </td>
                    <td align="center">
                        <a href="@Url.Action("Edit", "Agenda" , new { agenda.Id })">
                            <button class="btn btn-xs btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                        <button data-agenda-id="@agenda.Id" class="btn btn-xs btn-primary js-delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
        else
        {
        <p>Não há pacientes cadastrados ainda.</p>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#agenda").on("click",".js-delete", function () {
                var button = $(this);
                var result = confirm("Tem certeza que quer remover esta agenda?");
                if (result==true) {
                    $.ajax({
                        url: "/agenda/delete/" + button.attr("data-agenda-id"),
                        method: "GET",
                        success: function() {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}