@model IEnumerable<ConsultorioMedico.Models.Profissional>
@{
ViewBag.Title = "Profissional";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-6 col-md-offset-3">
        <h2>Profissionais</h2>

        <button class="btn btn-block btn-primary btn-sm" onclick="location.href='@Url.Action("New", "Profissional" )'">
            <span class="glyphicons glyphicon-plus"></span> New
        </button>

        @if (@Model.Count() > 0)
        {
        <table id="profissional" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Profissional</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var profissional in Model)
                {
                <tr>
                    <td style="cursor: pointer" onclick="location.href='@Url.Action("Detalhes", "Profissional" , new { profissional.Id })'">
                        @profissional.Nome
                    </td>
                    <td align="center">
                        <a href="@Url.Action("Edit", "Profissional" , new { profissional.Id })">
                            <button class="btn btn-xs btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                        <button data-profissional-id="@profissional.Id" class="btn btn-xs btn-primary js-delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
        else
        {
        <p>Não há profissionais cadastrados ainda.</p>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#profissional").on("click",".js-delete", function () {
                var button = $(this);
                var result = confirm("Tem certeza que quer remover este profissional?");
                if (result==true) {
                    $.ajax({
                        url: "/profissional/delete/" + button.attr("data-profissional-id"),
                        method: "GET",
                        success: function() {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}