@model IEnumerable<ConsultorioMedico.Models.Paciente>
@{
ViewBag.Title = "Paciente";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-6 col-md-offset-3">
        <h2>Pacientes</h2>

        <button class="btn btn-block btn-primary btn-sm" onclick="location.href='@Url.Action("New", "Paciente" )'">
            <span class="glyphicons glyphicon-plus"></span> New
        </button>

        @if (@Model.Count() > 0)
        {
        <table id="paciente" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Ação</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var paciente in Model)
                {
                <tr>
                    <td style="cursor: pointer"  onclick="location.href='@Url.Action("Detalhes", "Paciente" , new { paciente.Id })'">
                        @paciente.Nome
                    </td>
                    <td align="center">
                        <a href="@Url.Action("Edit", "Paciente" , new { paciente.Id })">
                            <button class="btn btn-xs btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                        <button data-paciente-id="@paciente.Id" class="btn btn-xs btn-primary js-delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
        else
        {
        <p>Não há pacientes cadastrados ainda.</p>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#paciente").on("click",".js-delete", function () {
                var button = $(this);
                var result = confirm("Tem certeza que quer remover este paciente?");
                if (result==true) {
                    $.ajax({
                        url: "/paciente/delete/" + button.attr("data-paciente-id"),
                        method: "GET",
                        success: function() {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}