@model IEnumerable<ConsultorioMedico.Models.Unidade>
@{
ViewBag.Title = "Unidade";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-6 col-md-offset-3">
        <h2>Unidade</h2>

        <button class="btn btn-block btn-primary btn-sm" onclick="location.href='@Url.Action("New", "Unidade" )'">
            <span class="glyphicons glyphicon-plus"></span> New
        </button>

        @if (@Model.Count() > 0)
        {
        <table id="unidade" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Unidades</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var unidade in Model)
                {
                <tr>
                    <td style="cursor: pointer" onclick="location.href='@Url.Action("Detalhes", "Unidade" , new { unidade.Id })'">
                        @unidade.Nome
                    </td>
                    <td align="center">
                        <a href="@Url.Action("Edit", "Unidade" , new { unidade.Id })">
                            <button class="btn btn-xs btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                        <button data-unidade-id="@unidade.Id" class="btn btn-xs btn-primary js-delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
        else
        {
        <p>Não há unidades cadastradas ainda.</p>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#unidade").on("click",".js-delete", function () {
                var button = $(this);
                var result = confirm("Tem certeza que quer remover esta unidade?");
                if (result==true) {
                    $.ajax({
                        url: "/unidade/delete/" + button.attr("data-unidade-id"),
                        method: "GET",
                        success: function() {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}